* {
    margin: 0;
    list-style: none;
}

body {
    /* background-color: #ffffff; */
    background-image: url(../Images/background\ 2.png);
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    
    

}


h1 {
color:#373738;
}

/*Nav Bar Items*/


.navigation {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    position:sticky;
    top:0;
    z-index: 100;
    box-shadow:1px 1px 1px 1px rgb(0,0,0,0.3);
    display:flex;
    align-items: center;
}

.inline-block {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;

}

.logo {

    padding-left:7%;
    padding-right: 1%;
    text-align: left;
    display: inline-block;
}

.inline-block ul {
    display:inline-flex;
    justify-content:space-between;
    color:#142233;

}

.name {
    display: inline-flex;
    padding-right:10px;
    font-family: 'Poppins', sans-serif ;

}

nav {
    display: inline-block;
}


.inline-block li:hover {
    font-weight:bold;
    scale:1.05;
}

footer li:hover {
    font-weight:bold;
    scale:1.05;
}

nav li {
    display: inline-block;
    padding: 0px 10px;
}




/*Hero*/
.heroImg {
    /* border-top:30px solid #e2e2e3; */
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
   
    


}

.containerGrid {
    /* margin:0 auto; */
    padding-bottom: 30px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    /* background-color: #76adff4c; */
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    
    
    /* grid-template-columns:35% 22.5% 22.5% 22.5%; 
    grid-template-rows:1fr;
    grid-template-areas:
    "leftSide rightSide rightSide rightSide"; */
    
}

p {
    font-size: 13px;
}

.leftSide {
    grid-area: leftSide;
    padding-left: 20px;
    margin-left:20px;


}

.rightSide {
    grid-area: rightSide;
    padding-left: 30px;
    padding-right: 20px;

}

.rightSide h1 {
    /* align-items: flex-start; */
    padding-bottom: 20px;

}

.rightSide button {
    margin-top: 20px;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    background-color: #142233;
    color: white;
    font-family: 'Poppins', sans-serif;
}




/*My Skills and Platforms*/

.mySkills {
    margin-top: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom:40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top:8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    



}

.skills {
    padding-left: 10px;
    padding-right: 10px;

}

.skills img {
    border-radius: 100%;
    border-style: double;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}



.centeredH3Headers {
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom:10px;
    font-family: 'Poppins', sans-serif;   
    font-size: 18px;
    color:#373738;

}

.mySkills h1 {
    font-family: 'Poppins', sans-serif;    
    text-align: center;
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  


}

.myWork h1 {
    font-family: 'Poppins', sans-serif;    
    text-align: center;
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom:8px;

}

.platformsClass h1 {
    font-family: 'Poppins', sans-serif;    
    text-align: center;
    /* background-color: #FFFFFF; */
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#ffffff;


}


.headers{
   display:flex;
   flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF;
    padding:10px;
    width:80%;
    margin:0 auto;
}

.skillInfo {
    width: 100%;
    font-family: 'Poppins', sans-serif;
} 
/* .hr {
   margin:0 auto;
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF;
    width:20px;
}  */


hr {
    border: none;
    height: 3px;
    border-top:4px solid rgb(82, 82, 82);
    border-bottom:2px solid rgb(82, 82, 82);
    margin:0px;
    width:200px;
    align-self: center;
    rotate: 90deg;

}


.platformsClass{
    margin-top: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} 
.flexContainerPlatforms {
    display:flex;
    flex-direction:row;
    justify-content: center; 
    margin:0 auto; 
    margin-top:8px;
    padding-top:30px;
    padding-bottom:10px;
    font-family: 'Poppins', sans-serif;
    background-color:#ffffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);



    /* padding-top:30px;
    padding-bottom:40px; */
}
.centeredH3Headers1 {
    text-align: center;
    justify-content: center;
    margin-top:3px;
}

.platforms {
    padding-top: 2px;
    background-color:#e2e2e3;
}

.skillInfo {
    margin-top:10px;
}

#border {
    border-left: double 5px;
    border-right:double 5px;
}

.platformType{
    width:30%;
    text-align:center;
/* border-right:double; */

    /* padding-left:10px;
    padding-right:10px; */
    /* border-right:double; */
    
}

.platformUL {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-top:5px;
    padding-bottom:20px;
    padding-left:0;



}
.platformUL li {
    display:flex;
    flex-direction: column;
    justify-content:left;
}

.platformType li {
    display:flex;
    flex-direction: column;
    justify-content:left;
}


/*My Work*/

.myWork {
    margin-top: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}


.gridContainerWork {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap:40px;
    grid-template-areas:
        "workImage workInfo";
    align-content: start;
    /* margin-top:5px; */
    /* border-radius:15px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 10px;
    border-bottom:double;
    


}


.daycay {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 30px;
    border-bottom:none;
}

/* .daycay button {
    background-color:rgb(225,86,86)
} */

.workHolder {
    display: grid;
    padding-bottom: 20px;
    border: #000000;


}

.platforms h1 {
    background-color:white;
}


.workImage {
    display:flex;
    justify-content:center; 
    /* padding-bottom:30px; */
}

.workImage img {
    object-fit:cover;
    align-items:right;
    border-style:solid;
    border-color:#a4a4a4;
    border-width:1.5px;
    margin-left:40px;
}


.workInfo {
    grid-area: 1 / 2 / span 1 / span 2;
    padding-left:20px;
    padding-right:20px;


}

.leftalignedTitle {
    display: flex;
    align-items: flex-start;
    padding-bottom:10px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    align-items: top;
    margin-top: 0px;
}

.gridContainerWork button {
    margin-top:10px;
}


/*footer*/
footer {
    background-color: #373738;
    padding: 2%;
    margin-top:2%;
}

footer ul {
    display: inline-block;
    /* padding-left: %; */
    padding-right: 51%;
    vertical-align: top;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

footer li {
    padding-right: 20px;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: #FFFFFF;
}

/*Mobile Media Query*/
@media only screen and (max-width: 600px) {

    /* .inline-block ul {
        display:none;
    } */

    .navigation {
        display:flex;
        flex-direction: column;

    }

    .leftSide {
        padding-left:0;
    }

    .rightSide h1 {
        width:100%;
        padding-top:10px;
    justify-content:center;    }

   .inline-block ul {
    align-items: flex-start;
    padding:10px;
   }

   .logo {
    padding-left:0;
   }

   .innerHeader {
    width:100%;
    padding:0px;
   }

   
    .containerGrid {
        flex-direction:column;
        width:100%;
        align-items:center;
    }

    .rightSide {
        padding-right:30px;
    }

    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* width: 100%; */
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #FFFFFF;
        justify-content: center;
    }

    .skills {

        padding-bottom:30px;
        
    }

    hr {
        rotate:0deg;
        margin-bottom: 5px;
        margin-top:0px;
    }

    .mySkills h1 {
        margin-bottom:8px;
    }

    .flexContainerPlatforms {
        flex-direction: column;
        width: 100%;
        /* padding-top: 10px; */

        /* align-content: center;
        justify-content:center;
        padding-bottom:10px; */

    }


    /* .platformUL {
        align-content: center;
        width:250px;
        display:flex;
        flex-direction:column;
        justify-content:flex-end;
    } */

    .platformType {
        padding-bottom:15px;
        padding-top:15px;
        width:95%;
        margin:0 auto;

        /* border-bottom:double;
        border-right:none; */

    }

    #border {

        border: double 5px;
        border-left: none;
        border-right:none;
    }

    .platformType li {
        justify-content: center;
        /* padding-left:110px; */
    }

.mywork h1 {
margin-bottom:8px;

}
    .gridContainerWork {
       margin:auto;
       align-items:center;
       /* margin-top:10px; */
       display:grid;
       grid-template-columns: 1fr;
       /* grid-template-rows:1fr;
       grid-template-areas: "workImage"
       "workInfo"; */
    }

    .workInfo {
        padding-right: 0;
    }


    .workImage img {
        width:80%;
        height:auto;
       
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;

    }

    .footer li {
        display: flex;
        flex-direction: column;
        width: 10%;
    }


    .workInfo {
        grid-area: 2 / 1 / span 2 / span 1;
    }

    footer ul {
        padding:0;
    }

footer {
    margin-top:20px;
}
}